Repository mizozobu/gotobyu.com: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint, yarn stylelint, yarn prettier --check --log-level warn .

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": ["yarn eslint"],
  "**/*.css": ["yarn stylelint"],
  "**/*": ["yarn prettier --check --log-level warn ."]
}

chore: update tailwind config
  tailwind.config.ts
Due: yarn eslint, yarn prettier --check --log-level warn .

style: fix lint errors
  e2e/tsconfig.json
  tsconfig.json
Due: yarn prettier --check --log-level warn .

chore: rm stylelint-config-prettier
  .stylelintrc
  package.json
  yarn.lock
Due: yarn prettier --check --log-level warn .

style: fix lint errors
  src/components/atoms/ExternalLink/ExternalLink.module.css
  src/components/atoms/Strong/Strong.module.css
  src/features/anchor/components/SectionTitle/SectionTitle.module.css
Due: yarn stylelint, yarn prettier --check --log-level warn .

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byu-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byu-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-career-1-webkit-mobile-linux.png
Due: yarn prettier --check --log-level warn .

test: lower lighthouse performance thresholds
  e2e/tests/lighthouse.spec.ts
Due: yarn eslint, yarn prettier --check --log-level warn .

test: lower /about lighhouse performance threshold
  e2e/tests/lighthouse.spec.ts
Due: yarn eslint, yarn prettier --check --log-level warn .

refactor: migrate to storybook v8
  .storybook/preview.ts
  .vscode/settings.json
  jest.setup.ts
  package.json
  src/components/molecules/HeaderMenuLink/HeaderMenuLink.stories.tsx
  src/components/molecules/HeaderMobileMenuLink/HeaderMobileMenuLink.stories.tsx
  src/components/molecules/Modal/Modal.stories.tsx
  src/components/molecules/SwitchControl/SwitchControl.stories.tsx
  src/components/organisms/HeaderMobileMenuDialog/HeaderMobileMenuDialog.stories.tsx
  src/features/index/utils/getText.spec.ts
  src/features/index/utils/getText.ts
  src/features/search/components/CustomInfiniteHits/CustomInfiniteHits.stories.tsx
  src/features/search/components/CustomSearchBox/CustomSearchBox.stories.tsx
  src/features/search/components/HitItem/HitItem.stories.tsx
  src/features/search/components/SearchDialog/SearchDialog.stories.tsx
  src/stories/Introduction.mdx
  tsconfig.json
  yarn.lock
Due: yarn eslint, yarn prettier --check --log-level warn .

chore: rm husky warning
  package.json
Due: yarn prettier --check --log-level warn .

test: import global stylesheet in storybook
  .storybook/main.ts
  .storybook/preview.ts
Due: yarn eslint, yarn prettier --check --log-level warn .

feat: update links and texts
  src/app/schools/byu/page.mdx
  src/app/schools/byuh/page.mdx
  src/app/schools/byui/page.mdx
  src/app/tips/apply/page.mdx
  src/app/tips/compare/page.mdx
  src/app/tips/learn-english/page.mdx
  src/data/application-deadline.ts
  src/data/cost-of-attendance.ts
  src/data/english-requirement.ts
  src/data/school.ts
  src/features/apply/components/EnglishRequirementBySchoolTable/EnglishRequirementBySchoolTable.tsx
  src/features/byui/assets/byui-class.png
  src/features/byui/assets/byui-class.webp
  src/features/byui/index.ts
  src/features/career/components/IncomeBarChart/IncomeBarChart.client.tsx
  src/features/internship/components/InternSalaryPieChart/InternSalaryPieChart.client.tsx
Due: yarn eslint, yarn prettier --check --log-level warn .

docs: fix mdx
  src/app/schools/byuh/page.mdx
Due: yarn prettier --check --log-level warn .

chore: update husky
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
Due: yarn prettier --check --log-level warn .

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-webkit-tablet-linux.png
Due: yarn prettier --check --log-level warn .

chore: migrate eslint to flat config
  .eslintignore
  .eslintrc.js
  eslint.config.mjs
  package.json
  tsconfig.base.json
  yarn.lock
Due: yarn eslint, yarn prettier --check --log-level warn .

style: fix lint errors
  e2e/fixtures/injected/isInScreen.js
  e2e/fixtures/injected/isVisible.js
  src/components/atoms/FacebookIcon/FacebookIcon.tsx
  src/components/molecules/PieChart/PieChart.tsx
Due: yarn eslint, yarn prettier --check --log-level warn .
