Repository mizozobu/gotobyu.com: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint, yarn stylelint, yarn prettier --check --log-level warn .

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": ["yarn eslint"],
  "**/*.css": ["yarn stylelint"],
  "**/*": ["yarn prettier --check --log-level warn ."]
}

refactor: app router for /schools/byu
  next-env.d.ts
  src/app/layout.tsx
  src/app/schools/byu/page.mdx
  src/components/atoms/Type/Type.tsx
  src/components/molecules/PhotoViewer/PhotoViewer.tsx
  src/components/molecules/TypingEffect/TypingEffect.tsx
  src/components/organisms/Header/Header.tsx
  src/features/anchor/components/CopiedDialog/CopiedDialog.tsx
  src/features/anchor/components/SectionTitle/SectionTitle.tsx
  src/features/anchor/hooks/useAnchorLink.ts
  src/features/byu/index.ts
  src/features/byu/routes/byu.stories.tsx
  src/features/forex/stores/index.ts
  src/features/mdx/components/Heading/Heading.tsx
  src/features/search/components/SearchDialog/SearchDialog.tsx
  src/features/stats/stores/index.ts
  src/hooks/useGtm.tsx
  src/hooks/useMediaMinWidth.ts
  src/hooks/useScrollDirection.ts
  src/lib/react-slick.ts
  src/lib/recoil.ts
  src/mdx-components.tsx
  src/pages/schools/byu.tsx
  src/providers/gtm.tsx
  src/providers/recoil.tsx
  src/styles/globals.css
  tsconfig.json
Due: yarn eslint, yarn stylelint, yarn prettier --check --log-level warn .

chore: update vscode settings
  .vscode/settings.json
Due: yarn prettier --check --log-level warn .

docs: update README
  README.md
Due: yarn prettier --check --log-level warn .

refactor: use font api
  src/app/layout.tsx
Due: yarn eslint, yarn prettier --check --log-level warn .

refactor: organize files
  src/app/tips/career/page.mdx
  src/app/tips/compare/page.mdx
  src/app/tips/internship/page.mdx
  src/features/mdx/index.ts
  src/features/mdx/utils/MDX.tsx
  src/mdx-components.tsx
Due: yarn eslint, yarn prettier --check --log-level warn .

refactor: suspense useSearchParams
  src/app/layout.tsx
Due: yarn eslint, yarn prettier --check --log-level warn .

refactor: organize files
  src/app/page.tsx
  src/app/schools/byu/page.mdx
  src/app/schools/byuh/page.mdx
  src/app/schools/byui/page.mdx
  src/app/tips/apply/page.mdx
  src/app/tips/career/page.mdx
  src/app/tips/compare/page.mdx
  src/app/tips/internship/page.mdx
  src/components/atoms/NextImage/NextImage.stories.tsx
  src/components/molecules/PhotoViewer/PhotoViewer.stories.tsx
  src/components/molecules/SchoolTh/SchoolTh.tsx
  src/components/organisms/SchoolTab/SchoolTab.tsx
  src/data/links.tsx
  src/features/apply/index.ts
  src/features/byu/index.ts
  src/features/byuh/assets/byuh-japan-student-chapter-resum.jpg
  src/features/byuh/index.ts
  src/features/byui/index.ts
  src/features/career/index.ts
  src/features/compare/index.ts
  src/features/internship/index.ts
Due: yarn eslint, yarn prettier --check --log-level warn .

refactor: mock forex api in dev/test
  src/features/forex/api/getForex.ts
Due: yarn eslint, yarn prettier --check --log-level warn .

refactor: rm env var UNOPTIMIZE_IMAGE
  .env.development
  .env.test
  next.config.mjs
  package.json
  src/config/index.ts
Due: yarn eslint, yarn prettier --check --log-level warn .

refactor: rm recoil
  package.json
  src/app/layout.tsx
  src/components/organisms/Header/Header.stories.tsx
  src/features/anchor/components/CopiedDialog/CopiedDialog.client.tsx
  src/features/anchor/components/CopiedDialog/CopiedDialog.stories.tsx
  src/features/anchor/components/SectionTitle/SectionTitle.client.tsx
  src/features/anchor/components/SectionTitle/SectionTitle.stories.tsx
  src/features/anchor/constants/index.ts
  src/features/anchor/hooks/useAnchorLink.ts
  src/features/anchor/hooks/useCopiedDialog.ts
  src/features/anchor/index.ts
  src/features/anchor/stores/index.ts
  src/features/compare/components/CostTable/CostTable.client.tsx
  src/features/compare/components/TuitionBarChart/TuitionBarChart.client.tsx
  src/features/compare/components/TuitionBarChart/TuitionBarChart.stories.tsx
  src/features/stats/components/CurrencySwitchControl/CurrencySwitchControl.client.tsx
  src/features/stats/components/LDSSwitchControl/LDSSwitchControl.client.tsx
  src/features/stats/constants/index.ts
  src/features/stats/hooks/useCurrency.ts
  src/features/stats/hooks/useLds.ts
  src/features/stats/index.ts
  src/features/stats/stores/index.ts
  src/lib/recoil.ts
  src/providers/gtm.client.tsx
  src/providers/recoil.client.tsx
  yarn.lock
Due: yarn eslint, yarn prettier --check --log-level warn .

test: fix full text search e2e
  e2e/fixtures/pages/_custom.page.ts
  e2e/tests/full-text-search.spec.ts
Due: yarn eslint, yarn prettier --check --log-level warn .

test: rm 500 VRT
  e2e/fixtures/index.ts
  e2e/fixtures/pages/500.page.ts
  e2e/tests/visual-regression.spec.ts
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-500-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-500-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-500-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-500-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-500-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-500-1-webkit-tablet-linux.png
Due: yarn eslint, yarn prettier --check --log-level warn .

fix: fix meta tags
  src/app/tips/compare/page.mdx
  src/data/links.tsx
Due: yarn eslint, yarn prettier --check --log-level warn .

test: lower internship page lighthouse pwa threshold
  e2e/tests/lighthouse.spec.ts
Due: yarn eslint, yarn prettier --check --log-level warn .

refactor: wip server actions
  package.json
  src/app/tips/compare/page.mdx
  src/features/compare/components/CostTable/CostTable.server.tsx
  src/features/compare/components/CostTable/CostTable.tsx
  src/features/compare/components/CostTable/WithServerProps.tsx
  src/features/forex/api/getForex.ts
  yarn.lock
Due: yarn eslint, yarn prettier --check --log-level warn .

refactor: typed route
  next.config.mjs
  src/components/atoms/ExternalLink/ExternalLink.tsx
  src/components/atoms/InternalLink/InternalLink.tsx
  src/components/atoms/Link/Link.tsx
  src/components/molecules/HeaderMenuLink/HeaderMenuLink.spec.tsx
  src/components/molecules/HeaderMenuLink/HeaderMenuLink.stories.tsx
  src/components/molecules/HeaderMenuLink/HeaderMenuLink.tsx
  src/components/molecules/HeaderMobileMenuLink/HeaderMobileMenuLink.spec.tsx
  src/components/molecules/HeaderMobileMenuLink/HeaderMobileMenuLink.stories.tsx
  src/components/molecules/HeaderMobileMenuLink/HeaderMobileMenuLink.tsx
  src/data/links.tsx
  src/features/mdx/utils/MDX.tsx
  src/features/search/types/index.ts
  src/mdx-components.tsx
Due: yarn eslint, yarn prettier --check --log-level warn .

chore: update ignore files
  .eslintignore
  .prettierignore
  .stylelintignore
Due: yarn prettier --check --log-level warn .

chore: update vscode debugger
  .vscode/launch.json
Due: yarn prettier --check --log-level warn .

chore: update prettier config
  .prettierrc
  prettier.config.js
Due: yarn eslint, yarn prettier --check --log-level warn .
